<form id="<%= modulePart %>-frm" class="module-form" locked="true" autoid="true" primarykey="<%= primaryKeyElementId %>"><% fields.forEach(field => { %>

	<% if (field.component === 'Textbox') { %><!-- <%= field.component %>: <%= field.fieldname %>-->	
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">
		<label for="<%= field.elementId %>"><%= field.label %></label>
		<input id="<%= field.elementId %>"  fgta5-component="Textbox" placeholder="<%= field.placeholder %>" autocomplete="off" spellcheck="false" 
			binding="<%= field.binding %>"<% field.additionalAttributes.forEach(config => { %>
			<%- config %> <% }) %>
		>
	</div><% } else 
	

	if (field.component === 'Numberbox') { %><!-- <%= field.component %>: <%= field.fieldname %>-->		
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">
		<label for="<%= field.elementId %>"><%= field.label %></label>
		<input id="<%= field.elementId %>"  fgta5-component="Numberbox" placeholder="<%= field.placeholder %>" autocomplete="off" spellcheck="false" 
			binding="<%= field.binding %>"<% field.additionalAttributes.forEach(config => { %>
			<%- config %> <% }) %>
		>
	</div><% } 
	

	else if (field.component === 'Checkbox') { %><!-- <%= field.component %>: <%= field.fieldname %> -->	
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">
		<label for="<%= field.elementId %>"><%= field.label %></label>
		<input id="<%= field.elementId %>" fgta5-component="Checkbox" type="checkbox" 
			binding="<%= field.binding %>"<% field.additionalAttributes.forEach(config => { %>
			<%- config %> <% }) %>
		>
	</div><% } 
	
	
	else if (field.component === 'Combobox') { %><!-- <%= field.component %>: <%= field.fieldname %> -->			
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">

	</div><% } 
	
	
	else if (field.component === 'Datepicker') { %><!-- <%= field.component %>: <%= field.fieldname %> -->				
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">

	</div><% } 
	
	
	else if (field.component === 'Timepicker') { %><!-- <%= field.component %>: <%= field.fieldname %> -->		
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">

	</div><% } 
	
	
	else if (field.component === 'Filebox') { %><!-- <%= field.component %>: <%= field.fieldname %> -->			
	<div class="<%= field.cssContainer %>" field="<%= field.elementId %>">

	</div><% } 
	
	
	else { %><!-- <%= field.component %>: <%= field.fieldname %> -->		
	<div style="color:red">Component <%= field.component %> is not supported</div><% } %>	
<% }) %>	
</form>


<div class="footer-buttons-container hidden">
	<div>
		<button id="<%= modulePart %>-btn_prev"><span>&laquo;&laquo;</span></button>
	</div>
	<div>
		<button id="<%= modulePart %>-btn_save">Save</button>
		<button id="<%= modulePart %>-btn_edit">Edit</button>
		<button id="<%= modulePart %>-btn_new" data-action="<%= moduleSection %>-new">New</button>
		<button id="<%= modulePart %>-btn_reset">Reset</button>
		<button id="<%= modulePart %>-btn_delete">Delete</button>
	</div>
	<div>
		<button id="<%= modulePart %>-btn_next"><span>&raquo;&raquo;</span></button>
	</div>
</div>
